{% extends "remapp/base.html" %}

{% block navhelp %}
        <li>
            <a href="http://docs.openrem.org/en/{{ admin.docsversion }}/i_deletesettings.html" target="_blank" data-toggle="tooltip" title="DICOM delete settings documentation - opens in a new tab">
                DICOM delete settings documentation
            </a>
        </li>
{% endblock %}

{% block confnav %}<li class="dropdown active">{% endblock %}

{% block mainblock %}

      <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {% if admin.admingroup %}
            <h2>Modify DICOM object deletion policy</h2>
            {% load crispy_forms_tags %}
            {% crispy form %}
        {% else %}
            <p>Only users in the Admin group can modify these settings.</p>
        {% endif %}




      </div>
    </div>

{% endblock %}	
